* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #33799c;
    cursor: url(image/covid19-2.png), auto;
    
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container h2 {
    position: absolute;
    top: 75px;
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.container h2:last-child {
    position: absolute;
    top: initial;
    bottom: 75px;
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.container .face {
    margin: 20px;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 8px 20px #333;
}

.container .face:hover {
    background: linear-gradient(180deg, #f44336, #ffcd00);
}

.container .face::before {
    content: '';
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    background-color: #b57700;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}

.container .face:hover::before {
    top: 210px;
    width: 150px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.eyes {
    position: relative;
    top: -40px;
    display: flex;
}

.eyes .eye {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background-color: #fff;
    margin: 0 15px;
    border-radius: 50%;
}

.eyes .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .container h2 {
        font-size: 1.5rem;
    }

    .container h2:last-child {
        font-size: 1.5rem;
    }

    .face:nth-child(even) {
        display: none;
    }
}